<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config_1_0.dtd">
<!--就是DOCTYPE后面对应的根节点-->

<configuration>
    <!--mybatis的设置选项，可以改变mybatis运行时行为-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--类型别名可为Java类型设置一个缩写名字，它仅用于mapper.xml中的type的配置，意在降低冗余的全限定类名书写-->
<!--    <typeAliases>-->
<!--        <package name="com.example.springbootmybatis.pojo"></package>-->
<!--    </typeAliases>-->
</configuration>